    <ul>
      <li><strong>Victim</strong> {{victim}}</li>
      <li><strong>Killers</strong> {{killers}}</li>
      <li><strong>Solo Death</strong> {{soloDeath}}</li>
      <li><strong>Death Time</strong> {{deathTime}}</li>
    </ul>
